@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Shizuru&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth; 
  scroll-padding-top:15rem;
}

body {
  font-size: 2rem;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, #ffbe88, #ffad9a);
  z-index: 1;
  height: 13rem;
  box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.5);
}

#mainNav ul {
  display: flex;
  justify-content: space-evenly;
}

#mainNav ul li {
}

.sectionDiv {
  height: 50rem;
  border: 1px solid aqua;
  text-align: center;
  scroll-behavior: smooth; 
}

#listaEimagen {
  display: flex;
}

#listaEimagen section {
  width: 50vw;
}

footer {
  height: 10vh;
  background: linear-gradient(to bottom, #67b3ea, #51bae8);
}

.btnVolver {
  position: sticky;
  background: chartreuse;
  top: 90vh;
  left: 1rem;
  height: 10rem;
  width: 5rem;
  overflow: hidden;
}

#compraSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heroSection {
  display: flex;
  justify-content: center;
  height: 50rem;
  align-items: center;
  background: linear-gradient(to bottom, #ffad9a, #ffa2b4);
}

#descripcionSection {
  display: flex;
  height: 50rem;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #ffa2b4, #ed9fce);
  flex-grow:1;     
}

#lista1, #lista2{

width: 50%;
}

#listaArtistas{
  margin-top: 3rem;
  display: flex;
}

#programaSection {
  background: linear-gradient(to bottom, #ed9fce, #c8a2e1);
}

.section2 {
  background: linear-gradient(to bottom, #c8a2e1, #aba8eb);
  display: flex;
  align-items: center;
}

#compraSection {
  background: linear-gradient(to bottom, #aba8eb, #8aaeee);
}

#patrocinioSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 20rem;
  background: linear-gradient(to bottom, #8aaeee, #67b3ea);
  flex-wrap: wrap;
}

figure {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
}
#imgHero {
  border-radius: 30px;
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 100%;
  box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.5);
}

#capa {
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  position: absolute;
  top: 0;
  transition: all 500ms ease-out;
  width: 100%;
  height: 100.5%;
  background: rgba(237, 159, 206, 0.2);
}

#capa p{
  color: aliceblue;
  padding-top: 9rem;
  font-size: 4rem;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

figure:hover > #capa {
  opacity: 1;
  visibility: visible;
}

figure:hover > p {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
  transition: all 500ms ease-out;
}

p {
  color: rgb(34, 13, 13);
}

#logo {
  object-fit: scale-down;
  object-position: 50% 50%;
  height: 7rem;
  width: 10vw;
}

#linkLogo {
  display: flex;
  justify-content: center;
}

.patrocinadores{
  height: 10rem;
  padding: 1rem;
}

#mapa{
  width: 60rem;
  height: 80%;
  border-radius: 3rem;
}

#divMapa{

  display: flex;
  flex-direction: column;
    justify-content: space-between;
}

#logosPatrocinio{

  display: flex;
  justify-content: space-evenly;
}